In [1]:
import pandas
import numpy

dades_pre = pandas.read_excel(open("Data_Extract_From_World_Development_Indicators.xlsx",'rb'),sheet_name="Data")
dades = pandas.DataFrame(columns=['Population','Health',"GINI",'Industry','Children OoS','Inflation','Equality', 'Pregnant Adolescents','GDP per capita'])
#dades.set_index("Country")

paisos = set(dades_pre["Country Name"].tolist())

for pais in paisos:
    dades = dades.append(pandas.Series(name = pais))

dades_pre =dades_pre.replace('..',numpy.NaN)

for pais in paisos:
    dades.at[pais,'Population'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='Population, total')]['2015 [YR2015]'].values[0]
    dades.at[pais,'Health'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='UHC service coverage index')]['2015 [YR2015]'].values[0]
    dades.at[pais,'GINI'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='GINI index (World Bank estimate)')]['2015 [YR2015]'].values[0]
    dades.at[pais,'Industry'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='Industry (including construction), value added (% of GDP)')]['2015 [YR2015]'].values[0]
    dades.at[pais,'Children OoS'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='Children out of school (% of primary school age)')]['2015 [YR2015]'].values[0]
    dades.at[pais,'Inflation'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='Inflation, consumer prices (annual %)')]['2015 [YR2015]'].values[0]
    dades.at[pais,'Equality'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='Law mandates equal remuneration for females and males for work of equal value (1=yes; 0=no)')]['2015 [YR2015]'].values[0]
    dades.at[pais,'Pregnant Adolescents'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='Adolescent fertility rate (births per 1,000 women ages 15-19)')]['2015 [YR2015]'].values[0]
    dades.at[pais,'GDP per capita'] = dades_pre.loc[(dades_pre['Country Name']==pais) & (dades_pre['Series Name']=='GDP per capita (current US$)')]['2015 [YR2015]'].values[0]

In [2]:
dades

,Population,Health,GINI,Industry,Children OoS,Inflation,Equality,Pregnant Adolescents,GDP per capita
Iraq,3.55723e+07,61,NaN,41.9602,NaN,1.39333,0,74.837,4989.8
Thailand,6.87145e+07,75,36,36.2601,NaN,-0.900425,0,47.57,5840.05
Greenland,56114,NaN,NaN,17.0467,NaN,NaN,NaN,NaN,44536.4
Moldova,3.55411e+06,68,27,22.6898,8.41505,9.67624,0,23.7558,2179.23
Brazil,2.04472e+08,78,51.3,19.36,NaN,9.02981,0,61.0878,8814
...,...,...,...,...,...,...,...,...,...
Ethiopia,1.00835e+08,39,35,16.2978,14.3781,10.1107,0,71.2274,640.542
Australia,2.3816e+07,86,NaN,23.6442,0.08832,1.50837,1,11.9498,56755.7
American Samoa,55812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11843.3
Malaysia,3.0271e+07,71,41,38.4497,0.48337,2.10439,0,13.308,9955.24
Bosnia and Herzegovina,3.42936e+06,60,NaN,22.5375,NaN,-1.02329,1,10.608,4727.28